*
{
	margin: 0;
	padding: 0;
}

#team
{
	font-family: monospace;
	font-size: 14px;
	font-weight: 400;
	color: #777;
}

h1
{
	font-size: 55px;
	color: #555;
	font-weight: bold;
}

h3
{
	font-size: 35px;
	color: #333;
	font-weight: bold;
}

#team img
{
	margin-top: -50px;
	border: 1.5px solid #112d42;
}

#team i
{
	font-size: 26px;
	color: #555;
}

#team p
{
	font-weight: 500;
}

#team .card
{
	border: 1.5px solid #112d42;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #112d42;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
}

#team .card:hover
{
	background: #112d42;
	color: #fff;
	border-radius: 10px;
	border: none;
	box-shadow: 5px 5px 15px #112d42;
}

#team .card:hover h3, #team .card:hover i
{
	color: #fff;
}