/*Footer Start*/
.footer
{
	margin-top: 150px;
	background: #04204e;
	color: #fff;
	font-family: monospace
}
.footer p
{
	font-size: 12px;
}
.copyright
{
	margin-bottom: -74px;
	text-align: center;
	font-size: 15px;
	padding-bottom:20px;
	padding-top: 2px;
}
.footer hr
{
	margin-top: 10px;
	background-color: #ccc;
}
.footer-image img
{
	width: 150px;
}
.footer hr
{
	margin-top: 10px;
	background-color: #ccc;
}
.footer-image img
{
	width: 150px;
}
.footer .row .fa
{
	padding-right: 20px;
	font-size: 15px;
}
.footer .row .col-md-3 .title
{
	font-size: 22px;
	margin: 25px 0;
	font-weight: bold;
	color: #fff;
}
.fa-heart
{
	color:red;
}
.border
{
	width: 230px;
	height: 4px;
	background: white;
}
.col-md-3 form
{
	display: flex;
	align-items: center;
	justify-items: center;
}
.txtb
{
	padding: 8px 20px;
	font-size:12px;
	color: #293043;
	background: #ddd;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	min-width: 230px;
}
.btn-submit
{
	padding: 8px 20px;
	font-size: 12px;
	color: white;
	background: red;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;
}
/*Footer End*/