.bg-dark {
	background-color: #04204e !important;
}

.navbar-brand {
	font-weight: bold;
	font-family: monospace;
	font-size: 50px;
}

.navbar-dark .navbar-nav .nav-link {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item {
	margin: 0 15px; 
}

.dbsk-search {
	font-family: sans-serif;
	/* padding: 20px; */
}

.dbsk-image img {
    margin: 100px auto;
    width: 300px;
	cursor: pointer;
}

.input-group {
	margin: 13px auto 10px;
	border-radius: 20px;
	max-width: 550px;
	background-color: #F5F5F5;
}

.form-control {
	border: none !important;
	border-radius: 20px !important;
	background-color: #f5f5f5 !important;
}

.input-group-text {
	background: transparent !important;
	border: none !important;
}

.input-group .fa {
	color: #007bff;
	cursor: pointer;
}

.form-control:focus {
	box-shadow: none !important;
}