.notBorder .tbl{
    border: 1px;
    border-collapse: collapse;
    width: 150px;
    height: 200px;;
  }
.Tong{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}
.program_flex .tBorder div
{
    background-color: teal;
    border: 1px solid;
    width: 166px;
}
.program_flex .tBorder .notBorder
{
    background-color: #DDDDDD;
}
