.program 
{
    margin-top: 180px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;

}
.program h6
{
    color: white;
}

.program form div
{
    margin-right: 80px;
    margin-bottom: 50px;
    display: inline-block;
}
.SelectformButton
{
    background: #04204e;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    padding-top: 3px;
}