.contentTable{
    /* margin: auto; */
}
table {
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
table, td, th {
    border: 1px solid black;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
.mybtn 
{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.mybtn .btn
{
    margin-right: 5px;
    background-color: red;
}
.mybtn .btn a
{
    color: white;
}
.contentTable
{
    margin-top: 55px;
}
.content{
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.pagination li {
    list-style: none;
    float: left;
    margin-left: 5px;
}
.page-link {
    color: blue;
}
.setlink{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
